# Ignore macOS system files
.DS_Store

# Ignore Python cache directories and files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore Images file
data
images
*.png
*.jpg

# data files

# Ignore env file
.env


# Ignore large files
*.ply
*.pcd
*.npz
*.npy

# MacOS specific
.DS_Store

# textfiles 
.txt

# Personal textfiles for notes
notes.txt

# Junk files
junk
samples_epoch
runs

# Model
.pth
models/checkpoints# Last updated: Thu Jul 10 07:07:50 CDT 2025
CLAUDE.md
